table {
	width: calc(100% - 32px);
	margin: 16px;

	border-collapse: collapse;

	background-color: white;

	box-shadow: 0 0 8px #E1e2e1;
}

table th {
	font-family: sans-serif;
	font-weight: normal;

	color: #757575;

	text-align: start;
	padding: 12px;
}

table tr:not(:last-of-type) {
	border-bottom: 1px solid #e0e0e0;
}

table td {
	text-align: center;
	padding: 24px 12px;
}

.info {
	background-color: #003c8f;
	padding: 64px 16px;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 18pt;
	color: white;
}
